@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@font-face {
  font-family: minhaFonte;
  src: url(fonts/minha-fonte-customizada.woff);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;

  }
  
  li {
    float: right;
}
  
  li a {
    display: block;
    color: red;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: wheat;
  }
  body{
    background-color: antiquewhite;
    font-family: 'minhaFonte', sans-serif;
  }
h2{
  font-family: 'minhaFonte', sans-serif;
font-size: 25px;
font-weight: normal;
font-style: normal;
text-align: center;
position: relative;
top: -380px;
}
h1{
  font-family: 'minhaFonte', sans-serif;
font-size: 35px;
font-weight: normal;
font-style: normal; 
color: white;
}
.copyright{
  text-align: center;
  position: relative;
  top: -120px;
}